samples/*.js linguist-detectable=true
samples/*.html linguist-detectable=true
samples/*.sh linguist-detectable=true
samples/*.py linguist-detectable=true
samples/*.java linguist-detectable=true
samples/*.cpp linguist-detectable=true
samples/*.c linguist-detectable=true
samples/*.cs linguist-detectable=true
samples/*.json linguist-detectable=true
samples/*.yaml linguist-detectable=true
samples/*.txt linguist-detectable=true
samples/*.md linguist-detectable=true
samples/*.csv linguist-detectable=true§
samples/*.php linguist-detectable=true
samples/*.f# linguist-detectable=true